.title h1 {
    font-family: 'Montserrat';
    padding-top: 180px;
    padding-left: 70px;
    color: var(--mainWhite);
    margin: 0;
    font-size: 2.2em;
}

.title p {
    font-family: 'Montserrat';
    color: var(--mainWhite);
    padding-left: 70px;
}