.mainContainer {
    background: #f2f2f2;
    font-family: 'Montserrat';
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 772.78px 320px;
    padding-top: 30px;
}

.containerContent {
    position: relative;
    width: 730px;
}

.arrowLeftMainImage {
    display: none;
    position: absolute;
    top: 165px;
    left: 5px;
    cursor: pointer;
}

.arrowRightMainImage {
    display: none;
    position: absolute;
    top: 165px;
    right: 5px;
    cursor: pointer;
}

.containerContent:hover .arrowLeftMainImage, 
.containerContent:hover .arrowRightMainImage{
    display: block;
}

.scrollImages {
    width: 730px;
    padding: 10px 25.5px;
    background: #e2e2e2;
    box-sizing: border-box;
    position: relative;
}

.imagesContainer {
    display: flex;
    transition: all 0.3s;
}

.frame {
    overflow: hidden;
    width: 679px;
}

.arrowLeft {
    position: absolute;
    top: 22px;
    left: 2px;
}

.arrowRight {
    position: absolute;
    top: 22px;
    right: 2px;
}

.arrowLeft:hover, .arrowRight:hover {
    cursor: pointer;
}

.title {
    border-bottom: 1px solid var(--mainBlack);
}

.title .makeAndModel {
    font-size: 1.4em;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--mainBlue);
}

.title .condition {
    margin: 15px 0 15px 0;
}

.itemInfo h2 {
    margin: 10px 0 10px 0;
}

.itemInfo p {
    margin: 10px 0;
}

.contacts {
    font-weight: bold;
}

.basics {
    margin-top: 30px;
    margin-bottom: 50px;
}

.basics h2 {
    margin: 10px 0;
}

.basicsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.basicsContainer span {
    font-weight: bold;
    margin-right: 7px;
}

.basicsContainer p {
    margin: 10px 0;
}

.contactFormWrapper {
    border: 1px solid var(--mainBlack);
    border-radius: 5px;
    height: 600px;
}