.searchContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(var(--lightBlue), var(--mainBlue));
    width: 70%;
    margin: 0 auto;
    padding: 27px;
    margin-top: 290px;
}

.searchContainer select {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
}

.searchContainer input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding: 10px;
    width: 30%;
}

.zip {
    display: flex;
}

.searchContainer button {
    background-color: rgb(26, 100, 26);
    font-family: 'Montserrat';
    color: var(--mainWhite);
    border: none;
    cursor: pointer;
}