.form {
    width: 25%;
    margin: 0 auto;
    font-family: 'Rubik';
    padding-top: 20px;
}

.form label, .form input {
    display: block;
}

.form label {
    padding: 15px 0 5px 0;
    font-weight: 600;
}

.form input {
    width: 100%;
    border-radius: 8px;
    font-size: 1.1em;
    padding-left: 10px;
    box-sizing: border-box;
}