.button {
    font-family: 'Rubik';
    border-radius: 10px;
    cursor: pointer;
}

.menuButton {
    font-size: 16px;
    padding: 7px;
    background: transparent;
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
    margin: 15px 25px;
}

.menuButton:hover {
    background: var(--mainWhite);
    color: var(--mainBlue);
}

.loginInListings {
    font-size: 16px;
    padding: 7px 18px 7px 18px;
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
    background-color: transparent;
    margin: 15px 25px;
}

.loginInListings:hover {
    background-color: var(--mainWhite);
    color: var(--mainBlue);
}

.signupOrLoginButton {
    font-size: 16px;
    width: 100%;
    border: none;
    padding: 10px 0;
    background: var(--mainBlue);
    color: var(--mainWhite);
    margin-top: 20px;
}

.createListingButton {
    margin-top: 100px;
    width: 200px;
    height: 80px;
    color: var(--mainWhite);
    background: transparent;
    border: 1px solid var(--mainWhite);
    font-size: 1.5em;
}

.createListingButton:hover {
    background-color: var(--mainWhite);
    color: var(--mainBlue);
}

.updateListingButton {
    background: var(--mainBlue);
    color: var(--mainWhite);
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    padding: 8px;
}

.updateListingButton:hover {
    color: var(--mainBlue);
    background: var(--mainWhite);
    border: 1px solid var(--mainBlue);
}