.mainContainer {

}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer button {
    padding: 10px 18px;
    background: var(--mainBlue);
    font-family: 'Montserrat';
    border: none;
    color: var(--mainWhite);
    cursor: pointer;
}

.filterResults button {
    border-top-left-radius: 14px;
}

.newSearch button {
    border-top-right-radius: 14px;
}

.active button {
    background: var(--mainWhite);
    color: var(--mainBlue);
}

.content {
    background: var(--mainWhite);
}