.logoText {
    margin: 0;
    padding: 10px;
    font-family: 'Lobster';
    color: #C1E3CD;
}

.logoWrapper {
    background: rgb(63, 3, 75);
    margin: 10px 0 10px 10px;
    border-radius: 25px;
}

.logoWrapper:hover {
    cursor: pointer;
}