.mainContainer {
    font-family: 'Montserrat';
}

.title h1 {
    color: var(--mainBlue);
    padding-left: 20px;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    margin: 0 auto;
}

.items {
    padding-left: 50px;
}