.modalWrapper {
    position: absolute;
    top: 60px;
    right: 260px;
    width: 260px;
    height: 100px;
    background-color: rgb(253, 245, 245);
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 8px;
    opacity: 0
}

.modalButtons {
    text-align: center;
}

.modalButtons button {
    margin: 0 20px;
    border: none;
    font-size: 1.2em;
    background-color: transparent;
    color: rgb(25, 83, 25);
    font-weight: bold;
}

.modalButtons button:hover {
    cursor: pointer;
}

.buttonYes{
    
}

.show {
    opacity: 1
}