.wrapperSellPage {
    background-color: #f2f2f2;
}

.spinner {
    padding-top: 90px;
}

.wrapper {
    text-align: center;
}

.wrapper h1 {
    margin: 0;
    padding-top: 150px;
    font-family: 'Montserrat';
    color: var(--mainWhite);
}

.listings {
    width: 75%;
    margin-left: 50px;
}

.listings h1 {
    color: var(--mainBlack);
}