.input {
    border: 1px solid rgb(163, 156, 156);
    height: 32px;
}

.invalid {
    border: 1px solid var(--mainRed);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper p {
    color: var(--mainRed);
    font-size: 0.8em;
    padding: 8px 0 5px 0;
}

.submit {
    font-family: 'Rubik';
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 10px 0;
    background: var(--mainBlue);
    color: var(--mainWhite);
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
}

.select {
    display: block;
    width: 40%;
    font-family: 'Montserrat';
    border-radius: 11px;
    font-size: 1.1em;
    padding: 8px;
}

.selectWrapper select {
    display: block;
    width: 100%;
    font-family: 'Montserrat';
    border-radius: 11px;
    font-size: 1.1em;
    padding: 8px;
}

.selectWrapper label {
    display: block;
    margin: 15px 0 6px 0;
    font-weight: bold;
}

.textarea label {
    display: block;
    margin: 15px 0 6px 0;
    font-weight: bold;
}

.textarea textarea {
    resize: none;
}