.input {
    border: 1px solid rgb(163, 156, 156);
    height: 32px;
}

.invalid {
    border: 1px solid var(--mainRed);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper p {
    color: var(--mainRed);
    font-size: 0.8em;
}

.submit {
    font-family: 'Rubik';
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 10px 0;
    background: var(--mainBlue);
    color: var(--mainWhite);
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
}